<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   <error-page> -->
<!--   	<error-code>404</error-code> -->
<!--   	<location>/error/404Err.jsp</location> -->
<!--   </error-page> -->
  
<!--     <error-page> -->
<!--   	<error-code>500</error-code> -->
<!--   	<location>/error/500Err.jsp</location> -->
<!--   </error-page> -->
  
  
  
<!-- 배포서술자 : 프로젝트 실행할 떄 가장먼저 호출 -->
<!-- 해당파일은 오류가 생기면 표시가 잘안남 그결과로 톰캣이 실행불가 -->

<!--  서블릿 사용가능하도록 매핑 -->
<!-- <servlet> -->
<!-- 	<servlet-name>ExServlet3</servlet-name> -->
<!-- 	<servlet-class>com.itwillbs.servlet.ExServlet3</servlet-class> -->
<!-- </servlet> -->

<!-- <servlet-mapping> -->
<!-- 	<servlet-name>ExServlet3</servlet-name> -->
<!-- 	<url-pattern>*.ex3</url-pattern> -->
<!-- </servlet-mapping> -->

<servlet>
	<servlet-name>TestServlet1</servlet-name>
	<servlet-class>com.itwillbs.servlet.TestServlet1</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>TestServlet1</servlet-name>
	<url-pattern>/test1</url-pattern>
</servlet-mapping>

</web-app>